* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.center-content {
  position: absolute;
  top: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: beige;
  height: 40vmin;
  width: 60vmax;
  font-family: "Noto Serif";
  font-style: italic;
  font-size: 3vw;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#snowflakeContainer {
  position: absolute;
  left: 0px;
  top: 0px;
  display: none;
}

.snowflake {
  position: fixed;
  background-color: #ccc;
  user-select: none;
  z-index: 1;
  pointer-events: none;
  background-color: transparent;
}

/* DEMO-SPECIFIC STYLES */
.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.05em;
  animation: typing 4s steps(30, end), blink-caret 0.3s step-end infinite,
    disapper 0.1s 4.1s forwards;
}

/* The typing effect */
@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

@keyframes disapper {
  100% {
    border-color: transparent;
  }
}
