* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.navbar {
  position: absolute;
  display: grid;
  top: 0;
  width: 100%;
  height: 7%;
  background-color: rgba(255, 255, 255, 0.1);
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.grid-item {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-top: 0px;
  text-decoration: none;
  color: inherit;
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  cursor: pointer;
}

.grid-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: rgba(255, 255, 255, 0.8);
  background: transparent;
  overflow: hidden;
  box-shadow: none;
  border: none;
  letter-spacing: 0.15em;
}

.grid-item:hover {
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2),
    0 6px 20px 0 rgba(255, 255, 255, 0.19);
  background-color: rgba(255, 255, 255, 0.3);
}

.center-content {
  position: absolute;
  top: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: beige;
  /* height: 40vmin; */
  /* width: 80%; */
  font-family: "Noto Serif";
  font-style: italic;
  /* font-size: 3vw; */
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.3);
  z-index: 2;
  overflow: hidden;
  min-width: 0;
}

.name {
  margin: 10px;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#snowflakeContainer {
  position: absolute;
  left: 0px;
  top: 0px;
  display: none;
}

.snowflake {
  position: fixed;
  background-color: #ccc;
  user-select: none;
  z-index: 1;
  pointer-events: none;
  background-color: transparent;
}

/* DEMO-SPECIFIC STYLES */
.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.05em;
  opacity: 0;
  animation: appear 0.1s 2.2s forwards, typing 3.5s 2.2s steps(30, end),
    blink-caret 0.3s 2.2s step-end infinite, disapper 0.1s 6s forwards;
}

@keyframes appear {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* The typing effect */
@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

@keyframes disapper {
  100% {
    border-color: transparent;
  }
}

.ml5 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
  line-height: 1em;
}

.ml5 .line {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  /* height: 3px; */
  width: 100%;
  background-color: #402d2d;
}

@media (min-width: 300px) {
  .center-content {
    height: 30vmin;
    width: 80%;
    font-size: 4vw;
  }
  .line {
    height: 2px;
  }
  .grid-text {
    font-size: 4vw;
  }
}
/* @media (min-width:480px)  { smartphones, Android phones, landscape iPhone } */
/* @media (min-width:600px)  { portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) } */
@media (min-width: 801px) {
  .center-content {
    height: 40vmin;
    width: 65%;
    font-size: 3vw;
  }
  .line {
    height: 3px;
  }
  .grid-text {
    font-size: 1.5vw;
  }
}
/* @media (min-width:1025px) { big landscape tablets, laptops, and desktops } */
/* @media (min-width:1281px) { hi-res laptops and desktops } */
